html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(45deg, #029fcc 0%, #cd7e7e 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.show {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
  font-size: 33px;
}

.deck .card.match {
  background: #02ccba;
  cursor: default;
  font-size: 33px;
}

.deck .card.match.again {
  width: auto;
  cursor: pointer;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0 5px 0 0;
  padding: 0;
  display: inline-block;
  font-size: 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
  margin: 0 2px;
  font-size: 14px;
}

.score-panel .restart {
  float: right;
}

.score-panel .moves {
  width: 4em;
  display: inline-block;
}

.score-panel .fa-repeat {
  cursor: pointer;
}

.won {
  background: #fff;
  margin: auto;
  text-align: center;
}

.won .stars {
  margin: 0;
  padding: 0;
}

.won .stars li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  font-size: 70px;
  color: #02ccba;
}

.version {
  position: absolute;
  font-size: 10px;
}

/*
 * Styles for smaller screens
 */

 @media screen and (max-width: 460px) {
  .deck .card.show, .deck .card.match {
    font-size: 23px;
  }

  .deck .won h1 {
    margin: 0;
  }

  .won .stars li {
    font-size: 35px;
  }
}

@media screen and (max-width: 660px) {
  .deck-co {
    width: 100%;
    padding-top: 100%;
    position: relative;
  }

  .deck {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: auto;
    width: 100%;
    box-shadow: 0 15px 20px 0 rgba(46, 61, 73, 0.5);
    padding: 1em;
    margin: auto;
  }

  .deck .card {
    width: calc((90%)/4);
    height: calc((90%)/4);
  }

  .deck .won .card.match.again {
    height: 70px;
  }

  .score-panel {
    width: 100%;
    padding: 0em 1em;
  }
}
